@import 'material-icons/iconfont/material-icons.css';

body {
  background: #171E2b;
}

* {
  font-family: 'Roboto';
}

.material-icons {
  color: #7C89A3;
}

button {
  padding: 8px 12px;
  border: none;
  box-shadow: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #4B5066 #171E2b;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0, 0);
  }
  25% {
    transform: scale(0.25, 0.25);
  }
  50% {
    transform: scale(0.50, 0.50);
  }
  75% {
    transform: scale(0.75, 0.75);
  }
  100% {
    transform: scale(1, 1);
  }
}